.card {
  margin-top: 200px;
  padding: 24px;
  width: 340px;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0px 24px 78.4px -27px rgb(43, 43, 43, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card header {
  display: flex;
  gap: 16px;
}

.card img {
  width: 48px;
  height: 48px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
